<section class="clients page-section" id="clients" data-section="clients-section">
  <div class="container">
    <h2 class="h2 section-heading animated-text" data-aos="fade-up" data-aos-duration="750">
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="750">we keep active</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="850">ongoing relationships</span>
      <span data-aos="fade-up" data-aos-easing="easeOutQuart" data-aos-delay="50" data-aos-duration="950">with our clients</span>
    </h2>
    <ul class="clients__list">
      <li class="clients__list-item client">
        <figure class="client__logo apple" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
          <img src="assets/images/apple-logo@3x.png" alt="Apple logo">
        </figure>
        <div class="client__details" data-aos="fade-up" data-aos-delay="450" data-aos-duration="500">
          <span>4 years</span>
          <span class="apple-projects"><img src="assets/images/project.png" width="19" alt="blur image" class="product-icon">projects</span>
          <p class="theme-color apple-hover">we can't talk about it</p>
        </div>
      </li>
      <li class="clients__list-item client">
        <figure class="client__logo loreal" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500">
          <img src="assets/images/loreal-logo@3x.png" alt="Loreal logo">
        </figure>
        <div class="client__details" data-aos="fade-up" data-aos-delay="550" data-aos-duration="500">
          <span>4 years</span>
          <span>6<span class="theme-color">+</span> brands</span>
        </div>
      </li>
      <li class="clients__list-item client">
        <figure class="client__logo logitech" data-aos="fade-up" data-aos-delay="600" data-aos-duration="500">
          <img src="assets/images/logitech-logo@3x.png" alt="Logitech logo">
        </figure>
        <div class="client__details" data-aos="fade-up" data-aos-delay="650" data-aos-duration="500">
          <span>4 years</span>
          <span>32 voice commands</span>
        </div>
      </li>
      <li class="clients__list-item client">
        <figure class="client__logo stadium" data-aos="fade-up" data-aos-delay="700" data-aos-duration="500">
          <img src="assets/images/stadium-logo@3x.png" alt="Stadium logo">
        </figure>
        <div class="client__details" data-aos="fade-up" data-aos-delay="750" data-aos-duration="500">
          <span>4 years</span>
          <span>1M<span class="theme-color">+</span> deliveries</span>
        </div>
      </li>
      <li class="clients__list-item client">
        <figure class="client__logo grand-rounds" data-aos="fade-up" data-aos-delay="800" data-aos-duration="500">
          <img src="assets/images/gr-logo@3x.png" alt="Grand Rounds logo">
        </figure>
        <div class="client__details" data-aos="fade-up" data-aos-delay="850" data-aos-duration="500">
          <span>3 years</span>
          <span>4<span class="theme-color">.</span>9<img class="rating-icon" src="assets/images/rating.png" alt="Rating Icon" width="14"> rating</span>
        </div>
      </li>
      <li class="clients__list-item client">
        <figure class="client__logo orthoscience" data-aos="fade-up" data-aos-delay="900" data-aos-duration="500">
          <img src="assets/images/ortho-logo@3x.png" alt="Orthoscience logo">
        </figure>
        <div class="client__details" data-aos="fade-up" data-aos-delay="950" data-aos-duration="500">
          <span>3 years</span>
          <span>16k<span class="theme-color">+</span> connected doctors</span>
        </div>
      </li>
    </ul>
  </div>
</section>
