<section class="slider-form-wrap " >
  <div class="container">
    <div class="slideshow fm-slider" >
      <include src="partials/index/form/q1.html"></include>
      <include src="partials/index/form/q2.html"></include>
      <include src="partials/index/form/q3.html"></include>
      <include src="partials/index/form/q4.html"></include>
      <include src="partials/index/form/q5.html"></include>
    </div>
    <div class="slick-arrow-group">
      <span class="prev"><span class="prev-arrow"></span></span>
      <span class="pagingInfo"></span>
      <span class="next">
        <span class="next-arrow"></span>
      </span>
      <button class="submit-btn">submit form</button>
      <span class="press-enter"> or press enter</span>
    </div>
  </div>
</section>
