<section class="team-page">
  <div class="container">
    <article class="team-page-content mw-540 ">
      <div class="team-text mb-64">
        our creative development agency is a dynamic, cross-functional team of designers and engineers
      </div>
      <div class="team-member-wrap mb-124">
        <ul class="member-list list-unstyled">
          <li class="member-list-item"><span>Abhishek S.R.</span></li>
          <li class="member-list-item">
            <span class="member-name">Achal A.</span>
            <div class="member-info">
              <span class="member-post">Director</span>
              <div class="member-img">
                <img src="assets/images/achal.png" class="img" alt="">
              </div>
            </div>
          </li>
          <li>Achin K.</li>
          <li>Aditi K.</li>
          <li>Aditi S</li>
          <li>Aditya G.</li>
          <li>Aishmita A.</li>
          <li>Ajay T.</li>
          <li>Akansha G.</li>
          <li>Akhil B.</li>
          <li>Akshat S.</li>
          <li>Akshay S.</li>
          <li>Alok V.</li>
          <li>Amit A.</li>
          <li>Ankit R.</li>
          <li>Ankit T.</li>
          <li>Ankita D.</li>
          <li>Anurag J.</li>
          <li>Apekshit T</li>
          <li>Ashima S.</li>
          <li>Ashwani B</li>
          <li>Ashwani K.S.</li>
          <li>Avneet S.M.</li>
          <li>Bharat G.</li>
          <li>Bhoomika G.</li>
          <li>Calvin W.</li>
          <li>Chirag B.</li>
          <li>Christy L.</li>
          <li>Dana K.</li>
          <li>Devanshu A.</li>
          <li>Dheeraj G.</li>
          <li>Divyanshi S</li>
          <li>Gaurav S.</li>
          <li>Greg M.</li>
          <li>Gurpreet S</li>
          <li>Harsh A.</li>
          <li>Harshit S.</li>
          <li>Himalya R.</li>
          <li>Himanshu M.</li>
          <li>Katherine K.</li>
          <li>Lakshay M.</li>
          <li>Lokesh M.</li>
          <li>Manish R.</li>
          <li>Manik J.</li>
          <li>Mool C.V.</li>
          <li>Naresh K.</li>
          <li>Neha S.</li>
          <li>Nimish G.</li>
          <li>Nishant Y.</li>
          <li>Pankaj K.</li>
          <li>Pankaj V.</li>
          <li>Parag G.</li>
          <li>Paresh G.</li>
          <li>Prabhat R.</li>
          <li>Prateek S.</li>
          <li>Pratibha M.</li>
          <li>Preeti B.</li>
          <li>Preeti R.</li>
          <li>Rahul R.</li>
          <li>Rajneesh S.</li>
          <li>Richa V.</li>
          <li>Rishabh G.</li>
          <li>Rishav D.</li>
          <li>Sachpreet K.</li>
          <li>Saiyam G.</li>
          <li>Sarah M.</li>
          <li>Sarthak P.</li>
          <li>Satish K.</li>
          <li>Saurish K.</li>
          <li>Sawan G.</li>
          <li>Sheenal J.</li>
          <li>Shivam J.</li>
          <li>Shorya G.</li>
          <li>Shubham J.</li>
          <li>Shubham K.</li>
          <li>Sid V.</li>
          <li>Siddharth K.</li>
          <li>Siddharth S.</li>
          <li>Sourabh G.</li>
          <li>Sumit R.</li>
          <li>Sunny A.</li>
          <li>Tanmay S.</li>
          <li>Tanshika A.</li>
          <li>Vaibhav K.</li>
          <li>Vijay S.</li>
          <li>Vijayta P.</li>
          <li>Vinay M.</li>
          <li>Vipul B.</li>
          <li>Vishwas M.</li>
          <li>Vivek J.</li>
          <li>Vu T.</li>
          <li>Xenia M.</li>
        </ul>
      </div>
    </article>
  </div>

  <article class="map-area">
    <div class="container">
      <div class="map-heading mw-540 mb-32">countries our work has reached</div>
    </div>
    <div class="map mb-100 ">
      <div class="container">
        <img src="assets/images/map.png" class="" alt="">
      </div>
    </div>
  </article>

  <div class="container">
    <article class="job-desc mw-540 ">
      <div class="job-heading mb-64 mb-32">job openings</div>
      <ul class="job-list list-unstyled">
        <li><a href='' class='job-link'><span>Senior Full Stack Engineer</span> <br>San Francisco</a></li>
      </ul>
    </article>
  </div>
</section>
