<div class="form-wrapper">
  <div class="headings text-center">
    <div class="heading-small mb-24">down to business</div>
    <div class="heading-form">what are you  <br> looking to build?</div>
  </div>
  <div class="contact-form-wrap">
    <div class="form-input text-center">
      <input type="text" class="form-input__field" placeholder="">
    </div>
  </div>
  <div class="contact-slide-button text-center">
    <a href="javascript:void(0);" class="contact-button__link relative">
    </a>
  </div>
</div>
