<article class="map-area mb-100">
  <div class="container">
    <div class="map-heading mw-650 mb-32 text-center">countries our work has reached</div>
  </div>
  <div class="map-bg data-scrollbar">
    <div class="map-image-block text-center" id="map-image-block">
      <img src="assets/images/map-complete.png" class="map-img" alt="map">
      <ul class="countries">
        <li class="country australia">
          <span class="country__name">Australia</span>
        </li>
        <li class="country austria">
          <span class="country__name">Austria</span>
        </li>
        <li class="country belgium">
          <span class="country__name on-left">Belgium</span>
        </li>
        <li class="country brazil">
          <span class="country__name">Brazil</span>
        </li>
        <li class="country canada">
          <span class="country__name">Canada</span>
        </li>
        <li class="country china">
          <span class="country__name on-left">China</span>
        </li>
        <li class="country czechia">
          <span class="country__name">Czechia</span>
        </li>
        <li class="country denmark">
          <span class="country__name on-left">Denmark</span>
        </li>
        <li class="country egypt">
          <span class="country__name on-left">Egypt</span>
        </li>
        <li class="country finland">
          <span class="country__name">Finland</span>
        </li>
        <li class="country france">
          <span class="country__name on-left">France</span>
        </li>
        <li class="country germany">
          <span class="country__name">Germany</span>
        </li>
        <li class="country hong-kong">
          <span class="country__name">Hong Kong</span>
        </li>
        <li class="country hungary">
          <span class="country__name">Hungary</span>
        </li>
        <li class="country iceland">
          <span class="country__name">Iceland</span>
        </li>
        <li class="country india">
          <span class="country__name">India</span>
        </li>
        <li class="country ireland">
          <span class="country__name on-left">Ireland</span>
        </li>
        <li class="country italy">
          <span class="country__name">Italy</span>
        </li>
        <li class="country japan">
          <span class="country__name">Japan</span>
        </li>
        <li class="country luxembourg">
          <span class="country__name on-left">Luxembourg</span>
        </li>
        <li class="country macau">
          <span class="country__name on-left">Macau</span>
        </li>
        <li class="country netherlands">
          <span class="country__name">Netherlands</span>
        </li>
        <li class="country nigeria">
          <span class="country__name on-left">Nigeria</span>
        </li>
        <li class="country norway">
          <span class="country__name on-left">Norway</span>
        </li>
        <li class="country poland">
          <span class="country__name">Poland</span>
        </li>
        <li class="country portugal">
          <span class="country__name on-left">Portugal</span>
        </li>
        <li class="country russia">
          <span class="country__name">Russia</span>
        </li>
        <li class="country singapore">
          <span class="country__name on-left">Singapore</span>
        </li>
        <li class="country south-africa">
          <span class="country__name">South Africa</span>
        </li>
        <li class="country south-korea">
          <span class="country__name">South Korea</span>
        </li>
        <li class="country spain">
          <span class="country__name on-left">Spain</span>
        </li>
        <li class="country sweden">
          <span class="country__name">Sweden</span>
        </li>
        <li class="country switzerland">
          <span class="country__name on-left">Switzerland</span>
        </li>
        <li class="country taiwan">
          <span class="country__name">Taiwan</span>
        </li>
        <li class="country turkey">
          <span class="country__name">Turkey</span>
        </li>
        <li class="country uae">
          <span class="country__name">Uae</span>
        </li>
        <li class="country uk">
          <span class="country__name on-left">Uk</span>
        </li>
        <li class="country usa">
          <span class="country__name">Usa</span>
        </li>
      </ul>
    </div>
  </div>
</article>
