<div class="container">
  <article class="team-page-content mw-540 ">
    <h2 class="h2 section-heading animated-text mb-64 hidden-mobile" data-aos="fade-up" data-aos-duration="750">
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="750">our creative development agency is a</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="850">dynamic, cross-functional team of</span>
      <span data-aos="fade-up" data-aos-easing="easeOutQuart" data-aos-delay="50" data-aos-duration="950">designers and engineers</span>
    </h2>
    <h2 class="h2 section-heading animated-text mb-64 hidden-desktop" data-aos="fade-up" data-aos-duration="750">
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="750">our creative</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="850">development agency</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="950">is a dynamic,</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="1050">cross-functional</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="1150">team of designers</span>
      <span data-aos="fade-up" data-aos-easing="easeOutQuart" data-aos-delay="50" data-aos-duration="1250">and engineers</span>
    </h2>
    <div class="team-member-wrap mb-124">
      <ul class="member-list list-unstyled" data-aos="zoom-in" data-aos-delay="650" data-aos-duration="750">
        <li class="member-list-item">Abhishek S.R.</li>
        <li class="member-list-item">
          <span class="member-name">Achal A.</span>
          <div class="member-info">
            <span class="member-post">Director</span>
            <div class="member-img">
              <img src="assets/images/achal.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">Achin K.</li>
        <li class="member-list-item">Aditi K.</li>
        <li class="member-list-item">Aditi S</li>
        <li class="member-list-item">Aditya G.</li>
        <li class="member-list-item">Aishmita A.</li>
        <li class="member-list-item">Ajay T.</li>
        <li class="member-list-item">Akansha G.</li>
        <li class="member-list-item">Akhil B.</li>
        <li class="member-list-item">Akshat S.</li>
        <li class="member-list-item">Akshay S.</li>
        <li class="member-list-item">Alok V.</li>
        <li class="member-list-item">Amit A.</li>
        <li class="member-list-item">Ankit R.</li>
        <li class="member-list-item">Ankit T.</li>
        <li class="member-list-item">Ankita D.</li>
        <li class="member-list-item">Anurag J.</li>
        <li class="member-list-item">Apekshit T</li>
        <li class="member-list-item">Ashima S.</li>
        <li class="member-list-item">Ashwani B</li>
        <li class="member-list-item">Ashwani K.S.</li>
        <li class="member-list-item">Avneet S.M.</li>
        <li class="member-list-item">Bharat G.</li>
        <li class="member-list-item">Bhoomika G.</li>
        <li class="member-list-item">Calvin W.</li>
        <li class="member-list-item">Chirag B.</li>
        <li class="member-list-item">Christy L.</li>
        <li class="member-list-item">Dana K.</li>
        <li class="member-list-item">Devanshu A.</li>
        <li class="member-list-item">Dheeraj G.</li>
        <li class="member-list-item">Divyanshi S</li>
        <li class="member-list-item">Gaurav S.</li>
        <li class="member-list-item">Greg M.</li>
        <li class="member-list-item">Gurpreet S</li>
        <li class="member-list-item">Harsh A.</li>
        <li class="member-list-item">Harshit S.</li>
        <li class="member-list-item">Himalya R.</li>
        <li class="member-list-item">Himanshu M.</li>
        <li class="member-list-item">Katherine K.</li>
        <li class="member-list-item">Lakshay M.</li>
        <li class="member-list-item">Lokesh M.</li>
        <li class="member-list-item">Manish R.</li>
        <li class="member-list-item">Manik J.</li>
        <li class="member-list-item">Mool C.V.</li>
        <li class="member-list-item">Naresh K.</li>
        <li class="member-list-item">Neha S.</li>
        <li class="member-list-item">Nimish G.</li>
        <li class="member-list-item">Nishant Y.</li>
        <li class="member-list-item">Pankaj K.</li>
        <li class="member-list-item">Pankaj V.</li>
        <li class="member-list-item">Parag G.</li>
        <li class="member-list-item">Paresh G.</li>
        <li class="member-list-item">Prabhat R.</li>
        <li class="member-list-item">Prateek S.</li>
        <li class="member-list-item">Pratibha M.</li>
        <li class="member-list-item">Preeti B.</li>
        <li class="member-list-item">Preeti R.</li>
        <li class="member-list-item">Rahul R.</li>
        <li class="member-list-item">Rajneesh S.</li>
        <li class="member-list-item">Richa V.</li>
        <li class="member-list-item">Rishabh G.</li>
        <li class="member-list-item">Rishav D.</li>
        <li class="member-list-item">Sachpreet K.</li>
        <li class="member-list-item">Saiyam G.</li>
        <li class="member-list-item">
          <span class="member-name">Sarah M.</span>
          <div class="member-info">
            <span class="member-post">Operations Associate</span>
            <div class="member-img">
              <img src="assets/images/sarah.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">Sarthak P.</li>
        <li class="member-list-item">Satish K.</li>
        <li class="member-list-item">Saurish K.</li>
        <li class="member-list-item">Sawan G.</li>
        <li class="member-list-item">Sheenal J.</li>
        <li class="member-list-item">Shivam J.</li>
        <li class="member-list-item">Shorya G.</li>
        <li class="member-list-item">Shubham J.</li>
        <li class="member-list-item">Shubham K.</li>
        <li class="member-list-item">Sid V.</li>
        <li class="member-list-item">Siddharth K.</li>
        <li class="member-list-item">Siddharth S.</li>
        <li class="member-list-item">Sourabh G.</li>
        <li class="member-list-item">Sumit R.</li>
        <li class="member-list-item">Sunny A.</li>
        <li class="member-list-item">Tanmay S.</li>
        <li class="member-list-item">Tanshika A.</li>
        <li class="member-list-item">Vaibhav K.</li>
        <li class="member-list-item">Vijay S.</li>
        <li class="member-list-item">Vijayta P.</li>
        <li class="member-list-item">Vinay M.</li>
        <li class="member-list-item">Vipul B.</li>
        <li class="member-list-item">Vishwas M.</li>
        <li class="member-list-item">Vivek J.</li>
        <li class="member-list-item">Vu T.</li>
        <li class="member-list-item">Xenia M.</li>
      </ul>
    </div>
  </article>
</div>
