<div class="container">
  <article class="team-page-content mw-650">
    <h2 class="h2 section-heading animated-text mb-64 hidden-mobile" data-aos="fade-up" data-aos-duration="750">
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="750">our creative development agency is a</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="850">dynamic, cross-functional team of</span>
      <span data-aos="fade-up" data-aos-easing="easeOutQuart" data-aos-delay="50" data-aos-duration="950">designers and engineers</span>
    </h2>
    <h2 class="h2 section-heading animated-text mb-64 hidden-desktop" data-aos="fade-up" data-aos-duration="750">
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="750">our creative</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="850">development agency</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="950">is a dynamic,</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="1050">cross-functional</span>
      <span data-aos="fade-up" data-aos-delay="50" data-aos-duration="1150">team of designers</span>
      <span data-aos="fade-up" data-aos-easing="easeOutQuart" data-aos-delay="50" data-aos-duration="1250">and engineers</span>
    </h2>
    <div class="team-member-wrap mb-124">
      <ul class="member-list list-unstyled" data-aos="zoom-in" data-aos-delay="650" data-aos-duration="750">
        <li class="member-list-item">
          <span class="member-name">Abhishek S.R.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/abhishek_rawat.jpg" class="img" alt="">
            </div>
          </div>

        </li>
        <li class="member-list-item">
          <span class="member-name">Achal A.</span>
          <div class="member-info">
            <span class="member-post">Director</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/achal_aggarwal.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Aditi K.</span>
          <div class="member-info">
            <span class="member-post">Sr. Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/aditi_khazanchi.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Aditi S</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/aditi_saxena.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Aditya G.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/aditya_guglani.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Aishmita A.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/aishmita_aggarwal.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Ajay T.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ajay_thakur.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Akansha G.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/akansha_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Akhil B.</span>
          <div class="member-info">
            <span class="member-post">Sr. Director- Technology</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/akhil_bansal.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Akshat S.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/akshat_singhal.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Akshay S.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/akshay_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Amit A.</span>
          <div class="member-info">
            <span class="member-post">Associate Project Manager</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/amit_aggarwal.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Ankit R.</span>
          <div class="member-info">
            <span class="member-post">Associate Project Manager</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ankit_rana.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Ankit T.</span>
          <div class="member-info">
            <span class="member-post">Project Director</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ankit_tomar.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Ankita D.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ankita_dixit.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Anurag J.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/anurag_jain.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Apekshit T.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/apekshit_tewathia.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Ashima S.</span>
          <div class="member-info">
            <span class="member-post">Sr. Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ashima_setia.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Ashwani B.</span>
          <div class="member-info">
            <span class="member-post">Team Lead- Web Design</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ashwani_bachchas.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Ashwani K.S.</span>
          <div class="member-info">
            <span class="member-post">Team Lead- Web Design</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/ashwani_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Avneet S.M.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/avneet_singh_malhotra.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Bharat G.</span>
          <div class="member-info">
            <span class="member-post">Director- Web Technology</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/bharat_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Bhoomika G.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/bhoomika_gupta.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Calvin W.</span>
          <div class="member-info">
            <span class="member-post">Senior Project Manager</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/calvin_west.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Chirag B.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/chirag_bhargava.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Christy L.</span>
          <div class="member-info">
            <span class="member-post">Director</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/christy_luzzo.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Dana K</span>
          <div class="member-info">
            <span class="member-post">Accountant</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/dana.png" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Danielle Simpson</span>
          <div class="member-info">
            <span class="member-post">Senior Copywriter</span>
            <div class="member-img">
              <img src="assets/images/no-image.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Devanshu A.</span>
          <div class="member-info">
            <span class="member-post">Project Manager</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/devanshu_arora.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Dheeraj G.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/dheeraj_garg.jpg" class="img" alt="">
            </div>
          </div>
        </li>
        <li class="member-list-item">
          <span class="member-name">Divyanshi S.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/divyanshi_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Gaurav S.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/gaurav_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Greg M.</span>
          <div class="member-info">
            <span class="member-post">Motion Designer</span>
            <div class="member-img">
              <img src="assets/images/no-image.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Gurpreet S.</span>
          <div class="member-info">
            <span class="member-post">Team Leader</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/gurpreet_singh.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Harsh A.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/harsh_agrawal.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Harshit S.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/harshit_singh.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Himalya R.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/no-image.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Himanshu M.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/himanshu_mishra.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Katherine K</span>
          <div class="member-info">
            <span class="member-post">Designer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/katherine_kisin.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Lakshay M.</span>
          <div class="member-info">
            <span class="member-post">Digital Marketing Expert</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/lakshay_mehta.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Lokesh M.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/lokesh_mudgal.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Manish R.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/manish_rawat.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Mool C.R.</span>
          <div class="member-info">
            <span class="member-post">Network Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/mool_chandra_vishwakarma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Naresh K.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/naresh_kumar.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Neha S.</span>
          <div class="member-info">
            <span class="member-post">Frontend Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/neha_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Nimish G.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/nimish_gupta.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Nishant Y.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/nishant_yadav.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <!-- <li class="member-list-item">
          <span class="member-name">Nitin </span>
          <div class="member-info">
            <span class="member-post">Creative Director</span>
            <div class="member-img">
              <img src="assets/images/no-image.png" class="img" alt="">
            </div>
          </div>
        </li> -->

        <li class="member-list-item">
          <span class="member-name">Pankaj K.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/pankaj_kumar.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Pankaj V.</span>
          <div class="member-info">
            <span class="member-post">Sr. Frontend Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/pankaj_verma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Parag G.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/parag_gupta.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Paresh G.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/paresh_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Prabhat R.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/prabhat_ranjan.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Prateek S.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/prateek_sharma.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Pratibha M.</span>
          <div class="member-info">
            <span class="member-post">Sr. Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/pratibha_mansinghka.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Preeti B.</span>
          <div class="member-info">
            <span class="member-post">Project Manager</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/preeti_bhalla.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Preeti R.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/preeti_rani.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Rahul R.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/rahul_rawat.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Rajneesh S.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/rajneesh_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Richa V.</span>
          <div class="member-info">
            <span class="member-post">Digital Marketing Expert</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/richa_vaish.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Rishabh G.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/rishabh_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Rishav D.</span>
          <div class="member-info">
            <span class="member-post">VP</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/rishav_dixit.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sachpreet K.</span>
          <div class="member-info">
            <span class="member-post">UX Designer</span>
            <div class="member-img">
              <img src="assets/images/no-image.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Saiyam G.</span>
          <div class="member-info">
            <span class="member-post">Sr. Frontend Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/saiyim_gambhir.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sarah M.</span>
          <div class="member-info">
            <span class="member-post">Office Assitant</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sarah_mcclure.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sarthak P.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sarthak_pattanayak.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Satish K.</span>
          <div class="member-info">
            <span class="member-post">Director- Mobile Projects</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/satish_chauhan.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Saurish K.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/saurish_kar.jpg" class="img" alt="">
            </div>
          </div>
        </li>


        <li class="member-list-item">
          <span class="member-name">Sawan G.</span>
          <div class="member-info">
            <span class="member-post">Associate Director- Web Technology</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sawan_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sheenal J.</span>
          <div class="member-info">
            <span class="member-post">Frontend Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sheenal_jain.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Shivam J.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/shivam_jain.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Shorya G.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/shorya_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Shubham J.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/shubham_juneja.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Shubham K.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/shubham_khandelwal.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sid V.</span>
          <div class="member-info">
            <span class="member-post">Director</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sid_verma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Siddharth K.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/siddharth_kumra.jpg" class="img" alt="">
            </div>
          </div>
        </li>


        <li class="member-list-item">
          <span class="member-name">Siddharth S.</span>
          <div class="member-info">
            <span class="member-post">Associate Director- Web Technology</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/siddharth_sharma.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sourabh G.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sourabh_gupta.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sumit R.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sumit_raj.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Sunny A.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/sunny_arya.jpg" class="img" alt="">
            </div>
          </div>
        </li>


        <li class="member-list-item">
          <span class="member-name">Tanmay S.</span>
          <div class="member-info">
            <span class="member-post">Associate Director- Web Technology</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/tanmay_sinha.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Tanishka A.</span>
          <div class="member-info">
            <span class="member-post">Quality Analyst</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/tanshika_arora.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vijay S.</span>
          <div class="member-info">
            <span class="member-post">Department Head (QA)</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vijay_sah.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vijayta P.</span>
          <div class="member-info">
            <span class="member-post">Sr. Web Designer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vijayta_panchal.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vinay M.</span>
          <div class="member-info">
            <span class="member-post">Team Leader</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vinay_mittal.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vipul B.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vipul_bhardwaj.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vishwas M.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vishwas_malhotra.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vivek J.</span>
          <div class="member-info">
            <span class="member-post">Software Engineer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vivek_jadaun.jpg" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Vu Tran</span>
          <div class="member-info">
            <span class="member-post">Project Manager</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/vu_tran.png" class="img" alt="">
            </div>
          </div>
        </li>

        <li class="member-list-item">
          <span class="member-name">Xenia M</span>
          <div class="member-info">
            <span class="member-post">Senior Designer</span>
            <div class="member-img">
              <img src="assets/images/vinsol-team-photos/xenia_marova.jpg" class="img" alt="">
            </div>
          </div>
        </li>

      </ul>
    </div>
  </article>
</div>
