$totalStages: 5;

@keyframes fillIt {
  0%   { fill: $white; }
  100%  { fill: $black; }
}

@keyframes fillColor {
  0%   { color: $black; }
  100%  { color: $white; }
}

.stages {
  padding-bottom: 100px;
  text-align: center;

  &__list {
    padding-left: 0;
  }

  &__inner {
    display: inline-flex;
  }

  &__list-item {
    display: flex;
    justify-content: center;
    position: relative;

    &.aos-animate {
      .stage__name {
        animation: fillColor .35s forwards;
        animation-delay: .35s;
      }

      path {
        animation: fillIt .35s forwards;
        animation-delay: .35s;
      }
    }
  }

  &__top-content {
    font-family: $gtAmericaRG;
    font-size: 32px;
    left: calc(-189px - 52px);
    line-height: 1.38;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    width: 189px;
  }

  &__left-content,
  &__right-content,
  &__rotated-content {
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__left-content {
    min-width: 105px;
    left: calc(-105px - 32px);
  }

  &__right-content {
    min-width: 149px;
    right: calc(-149px - 32px);
  }

  &__rotated-content {
    bottom: -5px;
    min-width: 105px;
    right: -95px;
    top: auto;
    transform: rotate(45deg);
  }

  .stage {
    &__name {
      font-family: $gtAmericaMonoRG;
      font-size: 24px;
      left: 50%;
      letter-spacing: normal;
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 90%;
      z-index: 1;
    }
  }
}

.our-approach {
  padding-top: 93px;

  .section-heading {
    margin-bottom: 107px;
    text-align: right;
  }

  .stages {
    @for $i from 1 through $totalStages {
      &__list-item:nth-child(#{$i}) {
        top: calc(-3px * #{$i - 1});
      }
    }
  }
}

@media(max-width: $tabletLandscape) {
  .stages {
    &__top-content {
      left: 20%;
      transform: translateX(calc(-20% - 50px)) translateY(-50%);
    }

    &__bottom-content {
      right: 20%;
      transform: translateX(calc(20% + 37px)) translateY(-50%)
    }
  }
}
