$totalStages: 5;

@keyframes fillIt {
  0%   { fill: $white; }
  100%  { fill: $black; }
}

@keyframes fillColor {
  0%   { color: $black; }
  100%  { color: $white; }
}

.stages {
  padding-bottom: 100px;
  text-align: center;

  &__list {
    padding-left: 0;
  }

  &__inner {
    display: inline-flex;
  }

  &__design {
    left: 5px;
    @media(min-width: $tabletPortrait) {
      left: 13px;
    }
  }

  &__list-item {
    display: flex;
    justify-content: center;
    position: relative;

    &.aos-animate.fill-color {
      .stage__name {
        animation: fillColor .5s forwards;
        animation-delay: .1s;
      }

      path {
        animation: fillIt .5s forwards;
      }
    }
  }

  &__top-content {
    font-family: $gtAmericaRG;
    font-size: 2em;
    left: calc(-189px - 52px);
    line-height: 1.38;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    width: 189px;
  }

  &__left-content,
  &__right-content,
  &__rotated-content {
    font-family: $gtAmericaMonoRG;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__left-content {
    min-width: 105px;
    left: calc(-105px - 32px);
  }

  &__right-content {
    min-width: 149px;
    right: calc(-149px - 32px);
  }

  &__rotated-content {
    bottom: -5px;
    min-width: 105px;
    right: -95px;
    top: auto;
    transform: rotate(45deg);
  }

  .stage {
    &__name {
      font-family: $gtAmericaMonoRG;
      font-size: 1.5em;
      left: 50%;
      letter-spacing: normal;
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 90%;
      z-index: 1;
    }
  }
}

.our-approach {
  padding-top: 93px;

  .section-heading {
    margin-bottom: 107px;
    text-align: right;
  }
}

@media(max-width: 767px) {
  .our-approach {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .section-heading {
      margin-top: 50px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .stages {
    display: flex;
    justify-content: flex-end;

    .stage__name {
      font-family: $gtAmericaMonoLT;
      font-size: 1em;
      letter-spacing: .5px;
      line-height: 1.5;
    }

    &__top-content {
      font-size: 1.75em;
      left: -120px;
      line-height: 2.4375rem;
      text-align: left;
      transform: translateY(-50%);
      width: 120px;
    }

    &__inner {
      justify-content: center;
      align-items: flex-start;
    }

    &__list {
      padding-right: 33px;
      width: calc(50% + 33px);
    }

    &__list-item {
      .path {
        height: auto;
        width: 100%;
      }

      &.intoduction-stage {
        .path {
          width: 90%;
        }
      }

      &.design-stage {
        .path {
          width: 94%;
        }
      }

      &.build-stage {
        .path {
          width: 60%;
        }
      }

      &.market-stage {
        .path {
          width: 73%;
        }
      }

      &.support-stage {
        .path {
          width: 94%;
        }
      }
    }
  }
}

@media(max-width: $mobilePortraitSmall) {
  .stages {
    &__top-content {
      font-size: 1.375em;
      left: -102px;
      line-height: 2;
      width: 90px;
    }
  }
}

@media(max-width: $mobile) {
  .our-approach {
    .stages {
      @for $i from 1 through $totalStages {
        &__list-item:nth-child(#{$i}) {
          top: calc(-1px * #{$i - 1});
        }
      }

    }
    
    .support-stage {
      margin-top: 1px;
    }
  }
}