.clients {
  padding-top: 50px;

  .section-heading {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    width: 33.333%;
  }
}

.apple-projects {
  display: flex;
  align-items: center;
}

.apple-project {
  background-color: $black-3;
  text-align: center;
  color: $black;
  width: 1.86em;
  height: 1.86em;
  line-height: 1.86em;
  font-size: 0.6em;
}

.apple-hover {
  display: none;
  transition: $transitionTimeFastLinear;
}

.apple-caption {
  &:hover {
    cursor: pointer;

    & + .apple-projects {
      display: none;
    }

    & ~ .apple-hover {
      display: block;
    }
  }
}

.apple {
  &:hover {
    cursor: pointer;

    & + .client__details {
      .apple-hover {
        display: block;
      }

      .apple-projects {
        display: none;
      }
    }
  }
}

.client {
  margin-bottom: 12px;

  &__logo {
    display: flex;
    min-height: 80px;

    img {
      align-self: flex-end;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    font-size: 1.125em;
    line-height: 2em;
    margin-top: 25px;
  }

  .rating-icon {
    vertical-align: baseline;
  }

  .product-icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .apple {
    img {
      width: 64px;
    }
  }

  .loreal {
    img {
      width: 144px;
    }
  }

  .logitech {
    img {
      width: 145px;
    }
  }

  .stadium {
    img {
      width: 160px;
    }
  }

  .grand-rounds {
    img {
      width: 228px;
    }
  }

  .orthoscience {
    img {
      width: 220px;
    }
  }
}

@media(max-width: $tabletAndMobile) {
  .client {
    &__details {
      font-size: 0.875em;
      margin-top: 18px;
    }

    .apple img {
      width: 36px;
    }

    .loreal img {
      width: 94px;
    }

    .logitech img {
      width: 81px;
    }

    .stadium img {
      width: 101px;
    }

    .grand-rounds img {
      width: 153px;
    }

    .orthoscience img {
      width: 130px;
    }
  }
}

@media(max-width: $mobile) {
  .clients {
    &__list-item {
      padding-left: 59px;
      width: 100%;
    }

    .apple img {
      width: 46px;
    }

    .loreal img {
      width: 98px;
    }

    .logitech img {
      width: 98px;
    }

    .stadium img {
      width: 112px;
    }

    .orthoscience img {
      width: 149px;
    }
  }

  .client {
    &__logo {
      min-height: initial;
    }

    &__details {
      font-size: 1.125em;
      line-height: 32px;
      margin-top: 16px;
    }

    & + & {
      margin-top: 46px;
    }
  }
}
