.contact {
  padding-top: 54px;

  &-input,
  &-button {
    margin-left: -150px;
  }
}

.contact-input {
  &__inner {
    height: 314px;
    margin: 0 auto;
    width: 453px;
  }

  &__field {
    border: 0;
    border-bottom: solid 1px $black;
    color: $black;
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    left: 50%;
    line-height: 30px;
    padding: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 134px;
    transition: $transitionTimeFast;

    &:focus {
      border-bottom-color: $orange;
      border-bottom-width: 2px;
    }
  }

  &__field::-webkit-input-placeholder {
    color: $black;
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    line-height: 30px;
  }

  &__field:-ms-input-placeholder {
    color: $black;
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    line-height: 30px;
  }

  &__field::placeholder {
    color: $black;
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    line-height: 30px;
  }
}

.contact-button {
  &__link {
    display: inline-flex;
    height: 177px;
    left: 230px;
    margin-top: -90px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(100px);
    width: 175px;

    &.aos-animate {
      cursor: pointer;
      pointer-events: initial;
    }

    .svg-overlay {
      left: 50%;
      opacity: 0;
      pointer-events: none;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) scale(0);
      transition: $transitionTimeMedium;
      z-index: 1;

      path {
        fill: $orange;
      }
    }

    &:hover {
      .svg-overlay {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
      }
    }
  }

  &__text {
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    left: 50%;
    line-height: 32px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
}



.contact-form-section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  transition: opacity 100ms ease-in, background-color 700ms ease-in, transform 1s ease-in;
  will-change: opacity, background-color, transform;

  .h2.section-heading {
    visibility: hidden;
  }
  .contact-button__link {
    opacity: 1;

    .svg-overlay{
      left: 8px;
      top: 0;
      opacity: 1;
      transform: translate(0);
    }

    &:hover {
      .svg-overlay{
        left: 8px;
        top: 0;
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  &.fsm {
    opacity: 1;
    z-index: 2;
    background-color: $gray;
    transform: scale(2.1);
    padding-top: 120px;

    .contact-input__inner, .contact-button__link {
      svg {
        stroke-width: 0;

        g {
          fill: white;
          stroke-width: 0;
        }
      }
    }

    .contact-input,
    .contact-button {
      margin-left: -8px;

      .contact-input__field,
      .contact-button__text,
      .svg-overlay {
        opacity: 0;
      }
    }

    .rem-btn {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: red;
      left: 50%;
      top: 50%;
    }
  }

  &.shrink {
    opacity: 0;
    z-index: -1;
    background-color: transparent;
    transform: scale(1);
    padding-top: 0;

    .contact-input__inner, .contact-button__link {
      svg {
        stroke-width: 0;

        g {
          fill: none;
          stroke-width: 1;
        }
      }
    }

    .contact-input,
    .contact-button {
      margin-left: -150px;

      .contact-input__field,
      .contact-button__text,
      .svg-overlay {
        opacity: 1;
      }
    }

    .rem-btn {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: red;
      left: 50%;
      top: 50%;
    }
  }
}


.fullscreen {
  body {
    overflow: hidden;
  }

  .navigation{
    top: 0 !important;
  }
}
