.contact {
  padding-top: 54px;

  &-input,
  &-button {
    margin-left: -150px;
  }
}

.contact-input {
  &__inner {
    height: 314px;
    margin: 0 auto;
    width: 453px;
  }

  &__field {
    background: transparent;
    border: 0;
    color: $black;
    font-family: $gtAmericaMonoLT;
    font-size: 30px;
    height: 45px;
    left: 50%;
    letter-spacing: -1.5px;
    line-height: 45px;
    padding: 0;
    resize: none;
    scrollbar-width: none;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      border-bottom-color: $orange;
      border-bottom-width: 2px;
    }
  }

  &__field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: $gtAmericaMonoLT;
    font-size: 30px;
    line-height: 45px;
  }

  &__field:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: $gtAmericaMonoLT;
    font-size: 30px;
    line-height: 45px;
  }

  &__field::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: $gtAmericaMonoLT;
    font-size: 30px;
    line-height: 45px;
  }
}

.contact-button {
  &__link {
    display: inline-flex;
    height: 177px;
    left: 230px;
    margin-top: -90px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(100px);
    width: 175px;

    &.aos-animate {
      cursor: pointer;
      pointer-events: initial;
    }
  }

  svg {
    &:hover {
      .stroke-hover {
        stroke: $orange;
        fill: $orange;
      }

      + .contact-button__text {
        color: $white;
      }
    }
  }

  &__text {
    font-family: $gtAmericaMonoRG;
    font-size: 24px;
    left: 50%;
    line-height: 32px;
    pointer-events: none;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
}
