%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%placeholder {
  color: $black-3;
  font-family: $gtAmericaMonoRG;
  @include fontstyle(30px, 300, 1.5);
}

@mixin checkbox-svg($w, $h, $l, $t) {
  width: $w;
  height: $h;
  left: $l;
  top: $t;
}

.contact-form-section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  transform: scale(1);
  transition: opacity 100ms ease-in-out, background-color 500ms ease-in-out, transform 500ms ease-in-out;
  will-change: opacity, background-color, transform;

  > .container {
    height: inherit;

    .cnt-form-wrap {
      height: inherit;
      position: relative;
    }
  }

  .cnt-input__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -2%;
  }

  .contact-button__anim {
    opacity: 1 !important;
    position: absolute;
    right: -15%;
    bottom: 5%;
    left: auto;
  }
}

.fullscreen {
  body {
    overflow: hidden;
  }

  .slider-form-wrap {
    .header {
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }

  .navigation{
    transform: translateY(0) !important;

    .scrolled {
      height: auto;
      min-height: 56px;
    }
  }

  .contact-form-section {
    opacity: 1;
    z-index: 2;
    background-color: $gray;
    transform: scale(2.3);

    .contact-button__anim {
      svg {
        stroke-width: 0;

        g {
          fill: white;
          stroke-width: 0;
        }
      }
    }

    .contact-input,
    .contact-button {
      margin-left: -8px;
    }
  }
}

.contact-form-wrap {
  margin-top: 140px;
  width: 100%;

  &.mt-8 {
    margin-top: 8px;
  }

  &.w-100 {
    width: 100%;
    height: 100%;
  }

  &.build-topic {
    min-height: 322px;
    margin-top: 0
  }

  @media(max-width: 767px) {
    margin-top: 97px;
  }
}

.headings {
  margin-top: 12.7%;

  @media(min-width: 768px) {
    margin-top: 0;
  }
}

.mt-26 {
  margin-top: 26px;
}

.form-wrapper {
  display: inline-flex !important;
  align-items: center;
  flex-direction: column;
  height: inherit;
  margin: 0 auto;
  max-width: 100%;
  height: inherit;
  padding-left:  $containerHorizontalPaddingFormLeft;
  padding-right:  $containerHorizontalPaddingFormRight;

  @media(max-width: $containerWidth) {
    width: 100%;
  }

  @media(min-width: 768px) {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -32px;

    &.build-top {
      margin-top: 0;
    }
  }

}

.form-input {
  max-width: 100%;
  margin: 0px auto;

  &__field {
    @include fontstyle(1.875em, 300, 45px);
    border: 0;
    background-color: transparent;
    color: $black;
    font-family: $gtAmericaLT;
    padding: 0;
    text-align: center;
    caret-color: $red;
    max-width: 100%;
    width: 127px;

    &:not(.user-query) {
      border-bottom: 1px solid $black-3;
      transition:border-bottom 500ms ease-in-out;
      will-change: border-bottom;
      border-radius: 0;
    }

    &:focus {
      border-bottom: solid 1px $black !important;
      outline: none !important;
    }

    @media(max-width: $mobile) {
      width: 102px;
    }

    &.user-query {
      border: 0 !important;
      font-size: 1.875em !important;
      height: 175px;
      margin: 0 auto;
      max-width: 500px;
      min-width: 127px;
      overflow-y: auto;
      scrollbar-width: none;
      text-decoration: underline;
      text-underline-offset: .25em;
      text-decoration-thickness: 1px;
      width: auto;
      resize: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &::placeholder {
        text-decoration-thickness: 1px;
        text-decoration: underline;
        text-underline-offset: .25em;
      }

      &:focus {
        border: 0 !important;
        outline: 0 !important;
      }

      @media(max-width: 767px) {
        max-width: 100%;
        font-size: 1.5em !important;
      }
    }

    &.input-type-text {
      &.not-empty {
        border-bottom: solid 1px $black;
        transition: color $transitionTimeFastLinear;
      }
    }

    &.theme-color {
      color: $orange;
    }
  }

  &__field::-webkit-input-placeholder {
    @extend %placeholder;
  }

  &__field:-ms-input-placeholder {
    @extend %placeholder;
  }

  &__field::placeholder {
    @extend %placeholder;
  }
}

.input-custom-field {
  &::-webkit-input-placeholder {
    color: $black-3;
  }

  &:-ms-input-placeholder {
    color: $black-3;
  }

  &::placeholder {
    color: $black-3;
  }
}

.checkbox {
  position: absolute;

  input {
    opacity: 0;
    position: absolute;
    top: 50%;
  }

  svg {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    fill:transparent;
    transition: fill 300ms ease-in-out;
    will-change: fill;
  }

  label {
    @include fontstyle(1.25em, 300, 1);
    font-family: $gtAmericaLT;
    @extend %flex;
    width: 100%;
    height: 100%;
    color: $black;
    cursor: pointer;
    position: absolute;
    text-align: center;
    transition: color 300ms ease-in-out;
    will-change: color;
    z-index: 2;
  }

  &:hover {
    label {
      @media(min-width: $smallDesktop) {
        color: $white;
      }
    }

    svg {
      fill: $orange;
    }
  }

  input:checked {
    ~ svg {
      fill: $black;
    }

    + .checkbox-label {
      color: $white;
    }
  }
}

@media(min-width: 768px) {
  .ecommerce {
    @include checkbox-svg(7.8em, 5em, 17.70%, 9.94%);
  }

  .brand {
    @include checkbox-svg(5em, 4em, 9.18%, 43.16%);
  }

  .research {
    @include checkbox-svg(6.5em, 5em, 31.34%, 38.20%);
  }

  .ui {
    @include checkbox-svg(3.5em, 2.7em, 23.13%, 53.10%);
  }

  .ux {
    @include checkbox-svg(3.18em, 4.2em, 18.61%, 72.98%);
  }

  .strategy {
    @include checkbox-svg(7.06em, 5.2em, 60.09%, 27.95%);
  }

  .webdev {
    @include checkbox-svg(4.8em, 3.6em, 70.47%, 5.59%);
     svg {
      transform: rotate(-14deg);
    }
  }

  .saas {
    @include checkbox-svg(4.68em, 3.8em, 58.08%, 60.25%);
  }

  .product-design {
    @include checkbox-svg(6.4em, 4.7em, 45.42%, 46.24%);

    svg {
      transform: rotate(163deg);
    }
  }

  .engineering {
    @include checkbox-svg(7.75em, 5.3em, 29.18%, 71.43%);
  }

  .mobiledev {
    @include checkbox-svg(6.06em, 4.5em, 46.31%, 81.99%);
  }

  .design {
    @include checkbox-svg(6em, 4.5em, 4.55%, 74.84%);
  }

  .others {
    @include checkbox-svg(5em, 4em, 81.60%, 31.99%);
  }
}


.radio-group {
  @extend %flex;
  justify-content: space-between;
  padding-left:78px;
  padding-right:78px;
  padding-top: 60px;

  .radio {
    width: 200px;
    height: 150px;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
    }

    .radio-label {
      @extend %flex;
      @include fontstyle(1.87em, 300, 1.5);
      cursor: pointer;
      font-family: $gtAmericaLT;
      height: 100%;
      position: absolute;
      width: 100%;

      span {
        color: $black;
        position: relative;
        transition: color 500ms ease-in-out;
        will-change: color;
      }

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: '';
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        will-change: opacity;
      }

      &:hover {
        @media(min-width: 1025px) {
          &:before {
            background-image: url("./../images/money-hover.svg");
            opacity: 1;
          }

          span {
            color: $white;
          }
        }
      }
    }

    input:checked {
      ~ label {
        color: $white;

        > span {
          color: $white;
        }

        &:before {
          @media(min-width: 1025px) {
            background-image: url("./../images/radio-bg.svg");
            opacity: 1;
          }
        }

         &:hover {
          &:before {
            @media(min-width: 1025px) {
              background-image: url("./../images/radio-bg.svg");
            }
          }
        }
      }
    }
  }
}

.radio-button-help {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  .radio-btn {
    @extend %flex;
    display: inline-flex;
    position: relative;
  }

  .radio-label {
    @include fontstyle(0.75em, 100, 1.33);
    padding-left: 8px;
    font-family: $gtAmericaLT;

    &:before {
      position: absolute;
      left: 0;
      top: 2px;
      content: '';
      opacity: 1;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid $black;
      transition: background-color 300ms ease-in-out;
      will-change: background-color;
    }
  }

  input {
    visibility: hidden;

    &:checked {
      ~ .radio-label {
          &:before {
            background-color: #ff400f;
            border: 0;
          }
        }
    }
  }
}

@media screen and (min-width: 1800px) {
  .fullscreen {
    .contact-form-section {
      transform: scale(2.8);
    }
  }
}

@media screen and (min-width: 1920px) {
  .fullscreen {
    .contact-form-section {
      transform: scale(2.8);
    }
  }
}

@media screen and (min-width: 2160px) {
  .fullscreen {
    .contact-form-section {
      transform: scale(3.5);
    }
  }
}

@media screen and (min-width: 2880px) {
  .fullscreen {
    .contact-form-section {
      transform: scale(4.5);
    }
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .fullscreen {
    .contact-form-section {
      transform: scale(3.5);

      .cnt-input__inner {
        top: 49%;
        left: 46%;
      }
    }
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .fullscreen {
    .contact-form-section {
      transform: scale(2.75);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fullscreen {
    .contact-form-section {
      transform: scale(3);
      .cnt-input__inner {
        top: 49%;
        left: 45%;
      }
    }

    .form-wrapper {
      padding: 0;
    }

    .radio-group {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

}

@media(max-width: $mobile) {
  .checkbox {
    position: relative;
    display: inline-block;
    max-width: 50%;
    flex: 0 0 50%;
    height: 50px;

    &.others {
      margin-left: 50%;
    }

    svg,
    br {
      display: none;
    }

    input:checked {
      + .checkbox-label {
          color: $orange;
          text-decoration: underline;
          text-underline-offset: 6px;
        }
    }
  }

  .form-wrapper {
    padding: 0;

    .contact-form-wrap {
      &.build-topic {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
        margin-top: 24px;
      }
    }

    .radio-button-help {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .radio-group {
      @include flexcenter();
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      margin-top: 0;
      padding: 0;

      .radio {
        width: 130px;
        height: 80px;

        input:checked ~ label > span {
          color: $orange;
          text-decoration: underline;
          text-underline-offset: 6px;
        }

        .radio-label {
          @include fontstyle(1.25em, 300, 1.5);
          font-family: $gtAmericaLT;

          &:before {
            background-image: none;
          }
        }
      }
    }

    .radio-button-help {
      .radio-label {
        max-width: 155px;
        text-align: left;

        &:before {
          top: 4px;
        }
      }
    }
  }

  .fullscreen {
    .contact-form-section {
      transform: scale(2.1);

      .cnt-input__inner {
        top: 47%;
        left: 20%;
      }
    }

    .form-input {
      max-width: 100%;
    }

    .slider-form-wrap {
      .header {
        position: relative;
        .container {
          padding: 0;
        }

        .logo {
          margin:0;
          line-height: 1;
          margin-bottom: 32px;
        }
      }
    }

    .navigation {
      .scrolled {
        min-height: 33px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .fullscreen {
    .contact-form-section {
      transform: scale(1.5);

      .cnt-input__inner {
        top: 50%;
        left: 50%;
      }
    }

    .header {
      .logo {
        margin-bottom: 16px;
      }
    }
  }

  .checkbox {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    height: 40px;
    position: relative;
    left: 0;
    top: 0;

    svg, br{
      display: none;
    }

    input:checked {
      + .checkbox-label {
          color: $orange;
        }
    }
  }

  .form-wrapper {
    padding: 0;

    .headings {
      margin-top: 16px;

      .mt-26 {
        margin-top: 0;
      }
    }

    .contact-form-wrap {
      margin-top: 70px;

      &.build-topic {
        margin-top: 10px;
        max-height: 250px;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
      }

      &.radio-topic {
        margin-top: 30px;
      }

      .radio-group {
        flex-direction: row;
      }
    }

    .radio-group {
      @include flexcenter();
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      margin-top: 0;
      padding: 0;

      .radio {
        width: 130px;
        height: 80px;
      }
    }

    .radio-button-help {
      margin-top: 16px;
      .radio-label {
        max-width: none;
        text-align: left;

        &:before {
          top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .checkbox {
    height: 45px !important;

    label {
      font-size: 1em !important;
    }
  }

  .form-wrapper {
    .radio-group {
      .radio {
        width: 110px;
        height: 68px;
      }

      .radio-label {
        font-size: 1em !important;
      }
    }

    .radio-button-help {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}

.slick-arrow-group {
  .submit-btn {
    &.submit-btn-custom {
      font-family: $gtAmericaMonoLT;
    }
  }
}

.slider-form-wrap {
  &.disabled {
    .next.slick-arrow,
    [data-hook="submit-form"] {
      opacity: .3;
      pointer-events: none;
    }
  }
}
