@font-face {
  font-family: 'GTAmerica-Light';
  src:  url('#{$fontsPath}/GTAmerica-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/GTAmerica-Light.woff') format('woff'),
        url('#{$fontsPath}/GTAmerica-Light.ttf') format('truetype'),
        url('#{$fontsPath}/GTAmerica-Light.svg#GTAmerica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Regular';
  src:  url('#{$fontsPath}/GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/GTAmerica-Regular.woff') format('woff'),
        url('#{$fontsPath}/GTAmerica-Regular.ttf') format('truetype'),
        url('#{$fontsPath}/GTAmerica-Regular.svg#GTAmerica-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaMono-Thin';
  src:  url('#{$fontsPath}/GTAmericaMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/GTAmericaMono-Thin.woff') format('woff'),
        url('#{$fontsPath}/GTAmericaMono-Thin.ttf') format('truetype'),
        url('#{$fontsPath}/GTAmericaMono-Thin.svg#GTAmericaMono-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaMono-Light';
  src:  url('#{$fontsPath}/GTAmericaMono-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/GTAmericaMono-Light.woff') format('woff'),
        url('#{$fontsPath}/GTAmericaMono-Light.ttf') format('truetype'),
        url('#{$fontsPath}/GTAmericaMono-Light.svg#GTAmericaMono-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaMono-Regular';
  src:  url('#{$fontsPath}/GTAmericaMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/GTAmericaMono-Regular.woff') format('woff'),
        url('#{$fontsPath}/GTAmericaMono-Regular.ttf') format('truetype'),
        url('#{$fontsPath}/GTAmericaMono-Regular.svg#GTAmericaMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaMono-Medium';
  src:  url('#{$fontsPath}/GTAmericaMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/GTAmericaMono-Medium.woff') format('woff'),
        url('#{$fontsPath}/GTAmericaMono-Medium.ttf') format('truetype'),
        url('#{$fontsPath}/GTAmericaMono-Medium.svg#GTAmericaMono-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
