.footer {
  font-family: $gtAmericaMonoRG;
  font-size: 1em;
  letter-spacing: normal;
  line-height: 1.44;
  padding: 100px 0 40px 0;
  white-space: nowrap;

  .container {
    display: flex;
  }

  &__heading {
    letter-spacing: normal;
  }

  &__left {
    margin-right: 100px;
  }

  &__contacts {
    margin-right: 120px;
  }

  &__locations {
    margin-right: 93px;
  }

  &__right {
    align-items: flex-end;
    display: flex;
    font-size: 0.750em;
    letter-spacing: .25px;
  }

  &__link {
    color: $orange;
    display: inline-block;
    position: relative;
  }

  &__list-item {
    font-size: 1em;
    line-height: 1.44;
  }

  .current-time {
    font-family: $gtAmericaMonoRG;
    font-size: 0.5em;
    letter-spacing: .25px;
  }

  .time-flash {
    color: $orange;
    font-family: $gtAmericaMonoRG;
    font-size: 1.1em;
    left: 10px;
    position: absolute;
    top: -15%;
  }

  .copyright {
    .theme-color {
      font-family: sans-serif;
    }
  }
}

@media(max-width: $smallDesktop) {
  .footer {
    &__left {
      margin-right: 100px;
    }

    &__contacts {
      margin-right: 75px;
    }
  }
}

@media(max-width: $tabletLandscape) {
  .footer {
    &__left, &__contacts, &__locations {
      margin-right: 65px;
    }
  }
}

@media(max-width: 964px) {
  .footer {
    .container {
      flex-wrap: wrap;
    }

    &__left,
    &__contacts,
    &__locations,
    &__right {
      margin: 0 0 20px 0;
      flex: 50%;
    }
  }
}

@media(max-width: 767px) {
  .footer {
    padding: 50px 0 24px 0;

    .container {
      flex-direction: column;
    }

    &__left, &__contacts, &__locations {
      margin: 0 0 20px 0;
    }

    &__right {
      margin-bottom: 0;
    }
  }
}
