.footer {
  font-family: $gtAmericaMonoRG;
  font-size: 16px;
  letter-spacing: -1.5px;
  line-height: 23px;
  padding: 133px 0 40px 0;

  .container {
    display: flex;
  }

  &__list {
    font-size: 0;
  }

  &__left {
    margin-right: 120px;
  }

  &__contacts {
    margin-right: 140px;
  }

  &__locations {
    margin-right: 107px;
  }

  &__right {
    align-items: flex-end;
    display: flex;
    font-size: 12px;
  }

  &__link {
    color: $orange;
    display: inline-block;
    position: relative;
  }

  &__list-item {
    font-size: 16px;
  }

  .current-time {
    font-size: 10px;
    letter-spacing: .25px;
  }

  .time-flash {
    color: $orange;
    font-family: $gtAmericaMonoMD;
    font-size: 12px;
    left: 14.5px;
    position: absolute;
    top: -6.5px;
  }
}

@media(max-width: $tabletAndMobile) {
  .footer {
    padding: 50px 0 100px 0;

    .container {
      flex-direction: column;
    }

    &__left, &__center {
      margin: 0 0 20px 0;
    }
  }
}
