.slider-form-wrap {
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $transitionTimeMedium;
  width: 100vw;
  z-index: -1;

  > .container {
    height: inherit;
  }

  .header {
    .container {
      padding: 0;
    }
  }
}

.fm-slider {
  height: inherit;

  .slick-slide,
  .slick-list,
  .slick-track {
    height: inherit !important;
  }

  .slick-slide {
    > div {
      height: inherit;
    }
  }
}

.slick-arrow-group {
  @extend %flex ;
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;

  .slick-arrow {
    position: relative;
    padding: 0px;
    line-height: 30px;
    cursor: pointer;

    .prev-arrow {
      background: url(./../images/left-arrow.svg) no-repeat center;
      width: 7px;
      height: 30px;
      display: block;
      opacity: 1;
      transition: opacity 200ms ease;
      will-change: opacity;
    }

    .next-arrow {
      background: url(./../images/right-arrow.svg)  no-repeat center;
      width: 7px;
      height: 30px;
      display: block;
      transition: opacity 200ms ease;
      will-change: opacity;
    }

    &.slick-disabled {
      .prev-arrow, .next-arrow {
        visibility: hidden;
        opacity: 0;
      }

      + .press-enter {
        display: none;
      }
    }

    &.next:not(.slick-disabled) {
      + .submit-btn {
        display: none;
      }
    }
  }

  .pagingInfo{
    @include fontstyle(0.7em, 100, 0.91);
    display: inline-block;
    color: $white-5;
    padding: 0px 16px;
    line-height: 30px;
  }

  .press-enter, .tap-enter {
    @include fontstyle(0.7em, 100, 0.91);
    color: $white-5;
    padding-left: 16px;
    line-height: 30px;
    position: absolute;
    margin-left: 200px;
    opacity: 1;
    transition: opacity $transitionTimeMedium;
    will-change: opacity;

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  .tap-enter {
    display: none;
  }

  .submit-btn {
    @include fontstyle(0.625em, normal, 1.5);
    color: $black;
    cursor: pointer;
    margin-top: 0;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid $red;
    padding: 6px;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
    will-change: background-color;

    &:hover, &:focus {
      background-color: $red;
      border-color: transparent;
      color: $white;
    }
  }
}

.fullscreen {
  .slider-form-wrap {
    transition-delay: 500ms;
    opacity: 1;
    z-index: 2;
  }
}

.vin {
  .footer,
  .page-section {
    opacity: 0;
  }
}

@media screen and (min-width: 1920px) {
  .fullscreen {
    .slider-form-wrap  {
      overflow-x: hidden;
    }

    .form-wrapper {
      transform: scale(1.1), translateY(-50%);
    }

    .slick-arrow-group {
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 2160px) {
  .fullscreen {
    .slider-form-wrap  {
      overflow-x: hidden;
    }

    .slick-arrow-group {
      transform: scale(1.3);
    }
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .fullscreen {
    .slick-arrow-group {
      bottom: 60px;
    }
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fullscreen {
    .slick-arrow-group {
      bottom: 60px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .fullscreen{
    .mt-26 {
      margin-top: 0;
    }

    .form-input__field {
      @include fontstyle(1.5em, 300, 1.38);
    }
  }

  .pagingInfo {
    display: block;
    text-align: center;
    @include fontstyle(1.125em, 300, 1.28);
    color: $white-5;
  }

  .arrow-count {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .prev-arrow {
    background: url(./../images/left-arrow.svg) no-repeat center;
    width: 20px;
    height: 15px;
    display: block;
    opacity: 1;
    transition: opacity 200ms ease;
    will-change: opacity;
    background-size: cover;
    position: absolute;
    top: 0;
  }

  .fm-slider {
    height: calc(100% - 250px);

    .slick-list {
      height: 100% !important;
    }
  }

  .slick-arrow-group  {
    position: relative;
    bottom: auto;
    .pagingInfo {
      display: none;
    }

    .tap-enter {
      display: inline-block;
    }

    .slick-arrow {
      color: $orange;

      &.next {
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontstyle(1.125em, 300, 1);
      }

      .next-arrow {
        width: 12px;
        height: 12px;
        background-size: 12px;
        margin-top: 2px;
      }

      .next-btn {
        display: inline-block;
        margin-right: 8px;
        margin-left: 8px;
      }

      &.slick-disabled {
        .next-btn {
          display: none;
        }
      }
    }
  }

  .build-topic {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .fm-slider {
    height: calc(100% - 150px);

    .slick-list {
      height: 100% !important;
    }
  }

  .slick-arrow-group  {
    bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .fm-slider {
    height: calc(100% - 170px);
  }
}
