* {
  box-sizing: border-box;
  margin: 0;

  &:focus {
    outline: none;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-family: $gtAmericaMonoLT;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: $black;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-y: scroll;

  @media(max-width: $containerWidth) {
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 $containerHorizontalPadding;
  max-width: $containerWidth;

  @media(max-width: $containerWidth) {
    width: 100%;
  }

  &.container-form {
    padding-left:  $containerHorizontalPaddingFormLeft;
    padding-left:  $containerHorizontalPaddingFormRight;
  }
}

.page-section {
  background: $white;
  min-height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  &:not(.aos-animate)[data-aos=fade-up] {
    transform: translate3d(0,300px,0);
  }

  @for $i from 1 through $maxItemsToAnimate {
    &__list-item:nth-child(#{$i}) {
      top: calc(-3px * #{$i - 1});
    }
  }

  &.animated-text {
    span {
      display: block;
    }
    @for $i from 1 through $maxItemsToAnimate {
      span:nth-child(#{$i}):not(.aos-animate) {
        transform: translate3d(0, calc(25px * #{$i}), 0);
      }
    }
  }
}

.hidden-mobile {
  @media(max-width: 767px) {
    display: none !important;
  }
}

.hidden-desktop {
  @media(min-width: 768px) {
    display: none !important;
  }
}

.theme-color {
  color: $orange;
}

.mb-24 {
  margin-bottom: 24px;
}
