* {
  box-sizing: border-box;
  margin: 0;

  &:focus {
    outline: none;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-family: $gtAmericaMonoLT;
  font-size: 16px;
  line-height: 1.5;

  ::-moz-selection {
    background: rgba(255, 79, 0, .15);
  }

  ::selection {
    background: rgba(255, 79, 0, .15);
  }

  &.page-dragging {
    .navigation__toggle-btn {
      pointer-events: none;
    }

    .toggle-btn__bar {
      background: $white;
    }

    ::-moz-selection {
      background: transparent;
    }

    ::selection {
      background: transparent;
    }
  }
}

a {
  color: $black;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input::-webkit-contacts-auto-fill-button {
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  visibility: hidden;
}

.wrapper {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: none;

  @media(max-width: $containerWidth) {
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }
}

.container {
  margin: 0 auto;
  padding: 0 $containerHorizontalPadding;
  max-width: $containerWidth;

  @media(max-width: $containerWidth) {
    width: 100%;
  }

  &.container-form {
    padding-left: $containerHorizontalPaddingFormLeft;
    padding-left: $containerHorizontalPaddingFormRight;
  }
}

.page-section {
  &.landing-section {
    min-height: calc(100vh - 56px);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  &:not(.aos-animate)[data-aos=fade-up] {
    transform: translate3d(0,300px,0);
  }

  @for $i from 1 through $maxItemsToAnimate {
    &__list-item:nth-child(#{$i}) {
      top: calc(-3px * #{$i - 1});
    }
  }

  &.animated-text {
    span {
      display: block;
    }
    @for $i from 1 through $maxItemsToAnimate {
      span:nth-child(#{$i}):not(.aos-animate) {
        transform: translate3d(0, calc(25px * #{$i}), 0);
      }
    }
  }
}

.hidden-mobile {
  @media(max-width: 767px) {
    display: none !important;
  }
}

.hidden-desktop {
  @media(min-width: 768px) {
    display: none !important;
  }
}

.theme-color {
  color: $orange;
}

.mb-24 {
  margin-bottom: 24px;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.cursor {
  background: url('../images/cursor.svg') no-repeat;
  background-position: center;
  background-size: 11px 12px;
  height: 12px;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 11px;
  z-index: 99;

  &.link-grow {
    background: url('../images/cursor-bold.svg') no-repeat;
    background-position: center;
    background-size: 11px 12px;
  }
}

.toggle-btn {
  $root: &;
  align-items: center;
  background: $orange;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: $transitionTimeFastLinear;
  width: 64px;

  &__bar {
    background: $black;
    display: block;
    height: 1px;
    pointer-events: none;
    position: relative;
    top: -.5px;
    width: 13px;
    transition: $transitionTimeFastLinear;

    + .toggle-btn__bar {
      margin-top: 3px;
    }
  }

  &.scrolled {
    height: 136px;
  }

  &.initial {
    top: 0 !important;
  }

  &.open {
    .toggle-btn__bar {
      top: -100px;
    }
  }

  &:hover {
    #{$root}__bar {
      background: $white;
    }
  }
}

#loading {
  align-items: center;
  background: $orange;
  color: $white;
  display: flex;
  font-family: $gtAmericaMonoTH;
  font-size: 1.5em;
  height: 100%;
  justify-content: center;
  left: 0;
  letter-spacing: 1px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
