.header {
  padding-top: 32px;

  .logo {
    a {
      display: inline-block;
      vertical-align: top;
    }

    &__img {
      margin-left: -7px;
      width: 100px;
    }
  }
}

@media(max-width: $mobile) {
  .header {
    padding-top: 18px;

    .logo {
      &__img {
        width: 75px;
      }
    }
  }
}
