@-webkit-keyframes snowflakes-fall {
  0% {
    top: -40px;
  }

  100%{
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-rotate {
  100% {
    -webkit-transform: rotate(360deg) translateX(10px);
    transform: rotate(360deg) translateX(10px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -40px;
  }

  100% {
    top: 100%;
  }
}

@keyframes snowflakes-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.snow {
  position: fixed;
  z-index: 1;
}

.snowflake {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation-direction: normal, normal;
  -webkit-animation-duration: 20s, 10s;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-name: snowflakes-fall, snowflakes-rotate;
  -webkit-animation-play-state: running, running;
  -webkit-animation-timing-function: linear, linear;
  -webkit-user-select: none;
  animation-direction: normal, normal;
  animation-duration: 20s, 10s;
  animation-iteration-count: infinite, infinite;
  animation-name: snowflakes-fall, snowflakes-rotate;
  animation-play-state: running, running;
  animation-timing-function: linear, linear;
  cursor: default;
  position: fixed;
  top: -40px;
  user-select: none;

  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      -webkit-animation-delay: #{3*$i + 1}s;
      animation-delay: #{3*$i + 1}s;
      left: percentage(random(100) / 100);
      opacity: random(10) / 10;
    }
  }
}
