.landing-section {
  position: relative;

  @media(min-width: 1120px) {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .container {
      min-width: 1120px;
    }
  }

  .section-heading {
    align-self: flex-end;
    margin-bottom: 146px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__shapes {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.landing-shapes {
  &__top {
    height: 286px;
    left: -85px;
    width: 548px;
    z-index: 1;

    .shape-text {
      top: 47%;
    }
  }

  &__bottom {
    display: inline-flex;
    height: 321px;
    margin-top: -95px;
    width: 430px;
    z-index: 2;
    margin-left: 180px;

    .shape-text {
      left: 44%;
    }
  }
}

.shape-text {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
}

@media(max-width: $tabletLandscape) and (min-width: $tabletPortrait) {
  .page-section.landing-section {
    align-items: center;
    display: flex;

    .section-heading {
      margin-bottom: 60px;
    }
  }

  .landing-section__container {
    flex-direction: column;
    display: block;
    padding-top: 120px;
  }

  .landing__shapes {
    width: 100%;
    text-align: center;
  }

  .landing-shapes {
    &__top {
      left: 0;
      width: 100%;
      text-align: center;

      > svg {
        width: auto;
      }
    }

    &__bottom {
      margin-left: 30%;
      width: 70%;

      > svg {
        width: 100%;
      }
    }
  }
}

@media(max-width: $tabletPortrait) {
  .page-section.landing-section {
    align-items: flex-start;
  }
}

@media(max-width: $mobile) {
  .landing-section {
    &__container {
      display: block;
      padding-top: 15px;
    }

    .section-heading {
      align-self: flex-start;
      margin: 85px 0 20px 0;
      padding: 0 24px;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .landing {
    &__container {
      flex-direction: column;
      justify-content: initial;
    }

    .shape-text {
      font-size: 1.12em;
      line-height: 1.5em;
    }
  }

  .landing-shapes {
    &__top,
    &__bottom {
      height: auto;
      left: auto;

      .svg {
        width: 100%;
        height: 2%;

        path {
          fill: transparent;
        }
      }
    }

    &__top {
      width: 95vw;
      margin-left: 5vw;

      .shape-text {
        left: 55%;
        text-align: right;
        top: 53%;
        white-space: nowrap;
        width: auto;
      }
    }

    &__bottom {
      margin: -28vw -25px 0 0;
      width: 100%;

      .shape-text {
        left: 32px;
        text-align: left;
        transform: translateX(0) translateY(-50%) !important;
      }
    }
  }
}
