.active-state {
  font-family: $gtAmericaMonoMD;
}

.navigation {
  $root: &;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &__list {
    background: $orange;
    padding: 16px 0;
    position: absolute;
    top: 0;
    transform: translateX(140px);
    transition: $transitionTimeFastLinear;
    visibility: hidden;

    &.open {
      transform: translateX(-132px);
      visibility: visible;
    }
  }

  &__list-item {
    font-size: 1em;
    line-height: 1.2;
    list-style: none;
    padding: 0 25px 0 37px;
    letter-spacing: .1px;

    & + & {
      padding-top: 8px;
    }

    &.active {
      @extend .active-state;
    }

    &:hover {
      #{$root}__list-link {
        color: $white;
      }
    }
  }
}

.page {
  &-home {
    .link-vinsol {
      @extend .active-state;
    }
  }

  &-team {
    .link-team {
      @extend .active-state;
    }
  }
}

@media(max-width: $mobile) {
  .navigation {
    &__toggle-btn {
      height: 33px;
      width: 30px;
    }

    &__list {
      width: 100vw;
      padding: 24px 0;

      &.open {
        transform: translateX(-100vw);
      }

      &.at-bottom {
        top: -40px;
      }
    }

    &__list-item {
      padding: 0;

      a {
        display: inline-block;
        line-height: 28px;
      }

      & + & {
        padding-top: 0;
        margin-top: 5.35px;
      }
    }
  }
}
