.navigation {
  position: fixed;
  right: 0;
  top: 0;
  transition: .5s;
  z-index: 10;

  &__list {
    background: $orange;
    border-bottom-left-radius: 200px;
    opacity: 0;
    padding: 16px 0;
    position: absolute;
    right: -132px;
    top: 0;
    transition: $transitionTimeSlow;
    visibility: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
      right: 0;
      top: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__list-item {
    font-size: 1em;
    line-height: 1.2;
    list-style: none;
    padding: 0 25px 0 37px;
    letter-spacing: .1px;

    & + & {
      padding-top: 8px;
    }

    &.active {
      font-family: $gtAmericaMonoMD;

      .navigation__list-link {
        &:before,
        &:after {
          font-family: $gtAmericaMonoMD;
          opacity: 1;
        }

        &:before {
          left: -13px;
        }

        &:after {
          right: -13px;
        }
      }
    }

    &:hover {
      font-family: $gtAmericaMonoMD;

      .navigation__list-link {
        &:before,
        &:after {
          opacity: 1;
        }

        &:before {
          left: -13px;
        }

        &:after {
          right: -13px;
        }
      }
    }
  }

  &__list-link {
    position: relative;

    &:before,
    &:after {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition: $transitionTimeMedium;
    }

    &:before {
      content: '[';
      left: -10px;
    }

    &:after {
      content: ']';
      right: -10px;
    }
  }

  &__toggle-btn {
    align-items: center;
    background: $orange;
    display: inline-flex;
    flex-direction: column;
    height: 56px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
  }

 .toggle-btn {
   transition: $transitionTimeSlow;

    &__bar {
      background: $black;
      display: block;
      height: 1px;
      pointer-events: none;
      position: relative;
      top: -.5px;
      width: 13px;

      + .toggle-btn__bar {
        margin-top: 3px;
      }
    }

    &.open {
      height: 0;
    }

    &.scrolled {
      height: 136px;
    }

    &.open.scrolled {
      height: 0;
    }
  }
}

@media(max-width: $mobile) {
  .navigation {
    &__toggle-btn {
      height: 33px;
      width: 30px;
    }

    &__list {
      padding: 28px 0;
      width: 162px;
    }

    &__list-item {
      & + & {
        padding-top: 28px;
      }
    }
  }
}
