.navigation {
  $root: &;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &__list {
    background: $orange;
    padding: 16px 0;
    position: absolute;
    right: -162px;
    top: 0;
    transition: $transitionTimeSlow;
    visibility: hidden;

    &.open {
      right: 0;
      top: 0;
      visibility: visible;
    }
  }

  &__list-item {
    font-size: 1em;
    line-height: 1.2;
    list-style: none;
    padding: 0 25px 0 37px;
    letter-spacing: .1px;

    & + & {
      padding-top: 8px;
    }

    &.active {
      font-family: $gtAmericaMonoMD;
      pointer-events: none;

      .navigation__list-link {
        &:before,
        &:after {
          font-family: $gtAmericaMonoMD;
          opacity: 1;
        }

        &:before {
          left: -13px;
        }

        &:after {
          right: -13px;
        }
      }
    }

    &:hover {
      #{$root}__list-link {
        color: $white;
      }
    }
  }
}

@media(max-width: $mobile) {
  .navigation {
    &__toggle-btn {
      height: 33px;
      width: 30px;
    }

    &__list {
      right: -192px;
      text-align: left;
      width: 132px;
    }

    &__list-item {
      padding-left: 32px;
    }
  }
}
