@media(max-width: $tabletAndMobile) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1441px) {
  .navigation {
    .toggle-btn__bar {
      top: 1px;
      width: 18px;

      + .toggle-btn__bar {
          margin-top: 5px;
      }
    }
  }
}
