.mw-540 {
  max-width: 540px;
  margin: 0px auto;
}

.mb-64 {
  margin-bottom: 11.85%;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-124 {
  margin-bottom: 22.96%;
}

.mb-32 {
  margin-bottom: 3.125%;
}

.team-page {
  font-family: $gtAmericaRG;
  padding-top: 96px;

  @media(max-width: 768px) {
    padding-top: 80px;
  }
}

.team-text,
.map-heading,
.job-heading {
  @include fontstyle(2em, normal, 1.38);
  font-family: inherit;
  letter-spacing: normal;
}

.member-list {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  @include fontstyle(1.125em, normal, 1.33);
  letter-spacing: normal;
  font-family: inherit;
}

.member-info {
  z-index: 1;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transform-origin: top left;
  transition: transform $transitionTimeMedium;
  will-change: transform, opacity;

  .member-post {
    color: $red;
    display: inline-block;
    left: -25px;
    position: absolute;
    text-orientation: mixed;
    top: 0;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
  }

  .member-img {
    width: 210px;
    height: 210px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
    pointer-events: none;

    .img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.member-list-item {
  position: relative;
  cursor: pointer;

  &.show-info{
    .member-info {
      opacity: 1;
      transform: scale(1);
    }

    .member-name {
      color: $red;
    }
  }
}

.map-area {
  .map-bg {
    background-color: #000;
  }
}

.job-link {
  @include fontstyle(1.125em, normal, 1.33);
  font-family: $gtAmericaRG;

  span {
    text-decoration: underline;

    &:hover {
      color: $red;
    }
  }
}

@media screen and (max-width: 767px) {
  .member-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .map-heading {
    text-align: left;
    padding: 0px 24px;
  }

  .map-area {
    .container {
      padding: 0;
    }

    .mb-100 {
      margin-bottom: 80px;
    }

    .map-image-block {
      max-height: 517px;

      .map-img {
        max-width: none;
        max-height: 517px;
      }
    }
  }

  .scrollbar-track {
    background: transparent !important;
  }

  .scrollbar-thumb {
    &.scrollbar-thumb-x {
      background-color: $red;
      border-radius: 0px;
    }
  }
}


