.mw-650 {
  max-width: 650px;
  margin: 0px auto;
}

.text-white {
  color: $white;
}

.mt-64 {
  margin-top: 6.4%;
}

.pt-64 {
  padding-top: 6.4%;
}

.mb-64 {
  margin-bottom: 11.85%;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-124 {
  margin-bottom: 22.96%;
}

.mb-32 {
  margin-bottom: 3.125%;
}

.mb-22 {
  margin-bottom: 2.125%;
}

.team-page {
  font-family: $gtAmericaRG;
  padding: 96px 0 25px 0;

  @media(max-width: 768px) {
    padding: 80px 0 50px 0;
  }
}

.team-text,
.map-heading,
.job-heading {
  @include fontstyle(2em, normal, 1.38);
  font-family: inherit;
  letter-spacing: normal;
}

.member-list {
  @include fontstyle(1.125em, normal, 24px);
  display: grid;
  font-family: inherit;
  grid-auto-flow: column;
  grid-template-rows: repeat(30, min-content);
  letter-spacing: normal;
}

.member-info {
  opacity: 0;
  position: absolute;
  transform-origin: top left;
  transform: scale(0);
  transition: transform .5s cubic-bezier(.77,.2,.05,1);
  will-change: transform, opacity;
  z-index: 1;

  .member-post {
    align-items: flex-end;
    color: $red;
    display: flex;
    font-size: 1em;
    left: -47px;
    position: absolute;
    text-orientation: mixed;
    top: 0;
    transform: rotate(-180deg);
    width: 46px;
    writing-mode: vertical-rl;
  }

  .member-img {
    width: 210px;
    height: 210px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
    pointer-events: none;

    .img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.member-name {
  cursor: pointer;

  &:hover {
    color: $red;

    + .member-info {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.member-list-item {

  &.show-info {
    .member-info {
      opacity: 1;
      transform: scale(1);
    }

    .member-name {
      color: $red;
    }
  }
}

.map-heading  {
  max-width: initial;
  padding: 54px 0 24px 0;
}

.map-area {
  background: $black;

  .map-bg {
    background: $black;
  }

  .map-image-block {
    margin: 0 auto;
    position: relative;
    width: 1024px;
  }

  .map-img {
    height: auto;
    max-width: 100%;
  }

  .countries {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .country {
    background: $transparent;
    border-radius: 50%;
    height: 7px;
    position: absolute;
    width: 7px;

    &__name {
      background: $darkGrey;
      border-radius: 3px;
      color: $black;
      font-family: $gtAmericaMonoRG;
      font-size: 16px;
      height: 18px;
      left: 20px;
      letter-spacing: 0;
      line-height: 17px;
      margin-top: -10px;
      opacity: 0;
      padding: 0 4px;
      position: absolute;
      text-transform: lowercase;
      top: 50%;
      transition: $transitionTimeFastLinear;
      visibility: hidden;
      white-space: nowrap;

      &.on-left {
        left: auto !important;
        right: 20px;
      }
    }

    &:hover {
      .country__name {
        left: 11px;
        opacity: 1;
        visibility: visible;

        &.on-left {
          right: 11px;
        }
      }
    }
  }

  .australia {
    bottom: 153px;
    right: 223px;
  }

  .austria {
    right: 497px;
    top: 303px;
  }

  .belgium {
    left: 491px;
    top: 293px;
  }

  .brazil {
    bottom: 173px;
    left: 380px;
  }

  .canada {
    left: 225px;
    top: 265px;
  }

  .china {
    bottom: 303px;
    right: 294px;
  }

  .czechia {
    right: 498px;
    top: 294px;
  }

  .denmark {
    left: 505px;
    top: 269px;
  }

  .egypt {
    right: 468px;
    top: 363px;
  }

  .finland {
    right: 473px;
    top: 240px;
  }

  .france {
    left: 494px;
    top: 301px;
  }

  .germany {
    right: 506px;
    top: 283px;
  }

  .hong-kong {
    bottom: 265px;
    right: 267px;
  }

  .hungary {
    right: 488px;
    top: 303px;
  }

  .iceland {
    left: 444px;
    top: 228px;
  }

  .india {
    bottom: 262px;
    right: 350px;;
  }

  .ireland {
    left: 474px;
    top: 267px;
  }

  .italy {
    left: 514px;
    top: 318px;
  }

  .japan {
    right: 215px;
    top: 337px;
  }

  .luxembourg {
    left: 492px;
    top: 293px;
  }

  .macau {
    right: 276px;
    top: 374px;
  }

  .netherlands {
    left: 502px;
    top: 288px;
  }

  .nigeria {
    left: 502px;
    top: 407px;
  }

  .norway {
    left: 505px;
    top: 241px;
  }

  .poland {
    left: 523px;
    top: 286px;
  }

  .portugal {
    left: 469px;
    top: 326px;
  }

  .russia {
    right: 336px;
    top: 254px;
  }

  .singapore {
    bottom: 215px;
    right: 294px;
  }

  .south-africa {
    bottom: 137px;
    right: 481px;
  }

  .south-korea {
    right: 238px;
    top: 335px;
  }

  .spain {
    left: 477px;
    top: 324px;
  }

  .sweden {
    left: 516px;
    top: 247px;
  }

  .switzerland {
    left: 511px;
    top: 302px;
  }

  .taiwan {
    right: 280px;
    top: 381px;
  }

  .turkey {
    right: 460px;
    top: 328px;
  }

  .uae {
    right: 412px;
    top: 373px;
  }

  .uk {
    left: 479px;
    top: 281px;
  }

  .usa {
    left: 242px;
    bottom: 313px;
  }
}

.job-list {
  li + li {
    margin-top: 32px;
  }
}

.job-link {
  @include fontstyle(1.125em, normal, 1.33);
  font-family: $gtAmericaRG;

  span {
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
      color: $red;
    }
  }
}

@media screen and (max-width: $tabletLandscape) {
  .countries {
    display: none;
  }

  .scrollbar-track {
    background: transparent !important;
  }

  .scrollbar-thumb {
    &.scrollbar-thumb-x {
      background-color: $red;
      border-radius: 0px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .member-list {
    grid-template-rows: repeat(46, min-content);

    .member-list-item:nth-child(n+47) {
      .member-info {
        transform-origin: right top;
      }
    }

    .member-info {
      .member-post {
        border-top: 1px solid $orange;
        background: $black-8;
        bottom: 0;
        color: $white;
        left: 0;
        padding: 8px 12px;
        top: auto;
        transform: none;
        width: 100%;
        writing-mode: initial;
        display: block;
      }
    }
  }

  .map-heading {
    padding: 24px 24px 0 24px;
    text-align: left;
    transform: scale(.77);
  }

  .map-area {
    margin: 175px 0  135px 0;
    transform: scale(1.3);

    .container {
      padding: 0;
    }

    .mb-100 {
      margin-bottom: 80px;
    }

    .map-image-block {
      max-height: 517px;

      .map-img {
        max-width: none;
        max-height: 517px;
      }
    }

    .scrollbar-track.scrollbar-track-y {
      display: none !important;
    }
  }

  .member-info {
    width: calc(100vw - 48px);
    left: 24px;

    .member-img {
      width: 100%;
      height: auto;
    }
  }
}
