@mixin fontstyle($fs, $fw, $fl) {
  font-family: $gtAmericaMonoRG;
  font-size: $fs;
  line-height: $fl;
  font-weight: $fw;
}

.h2 {
  font-family: $gtAmericaRG;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.38;
}

.h3 {
  font-family: $gtAmericaRG;
  font-size: 1em;
  font-weight: normal;
  line-height: 23px;
}

.heading-form {
  @include fontstyle(1.5em, 300, 1.33);
  color: $white-5;
  font-family: $gtAmericaMonoLT;
}

.heading-small {
  @include fontstyle(0.688em, 100, 0.91);
}

.shape-text {
  font-size: 1.5em;
  line-height: 1.33;
}

@media(max-width: $tabletAndMobile) {
  .h2 {
    font-size: 1.750em;
    line-height: 39px;
  }
}

@media(max-width: $mobilePortraitSmall) {
  .h2 {
    font-size: 1.5em;
    line-height: 2.125em;
  }
}

@media(max-width: $mobile) {
  .heading-form {
    @include fontstyle(1.125em, 300, 1.28);
  }
}
