@mixin fontstyle($fs, $fw, $fl) {
  font-family: $gtAmericaMonoRG;
  font-size: $fs;
  line-height: $fl;
  font-weight: $fw;
}


.h2 {
  font-family: $gtAmericaMonoMD;
  font-size: 32px;
  line-height: 44px;
  font-weight: normal;
}

.h3 {
  font-family: $gtAmericaMonoMD;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
}

.heading-form {
  @include fontstyle(24px, 300, 1.33);
  color: $white-5;
}

.heading-small {
  @include fontstyle(11px, 100, 0.91);
}

@media(max-width: $tabletAndMobile) {
  .h2 {
    font-size: 28px;
    line-height: 39px;
  }
}
