/* Breakpoints */
$tabletLandscape: 1024px;
$tabletAndMobile: 1023px;
$mobile: 768px;
$mobilePortrait: 365px;
$mobilePortraitSmall: 320px;

/* Constants */
$containerHorizontalPadding: 48px;
$containerHorizontalPaddingFormLeft : 39px;
$containerHorizontalPaddingFormRight : 60px;
$containerWidth: 1120px;

/* Colors */
$black: #000000;
$orange: #ff4f00;
$white: #ffffff;
$gray: #f6f6f6;
$red: #ff400f;
$white-5: rgba(0, 0, 0, 0.5);


/* Fonts */
$fontsPath: '../fonts';
$gtAmericaMonoTH: 'GTAmericaMono-Thin';
$gtAmericaMonoLT: 'GTAmericaMono-Light';
$gtAmericaMonoRG: 'GTAmericaMono-Regular';
$gtAmericaMonoMD: 'GTAmericaMono-Medium';
$gtAmericaRG: 'GTAmerica-Regular';
$gtAmericaLT: 'GTAmerica-Light';

/* Configs */
$transitionTimeFast: .3s cubic-bezier(.77,.2,.05,1);
$transitionTimeMedium: .5s cubic-bezier(.77,.2,.05,1);
$transitionTimeSlow: .75s cubic-bezier(.77,.2,.05,1);
