/* Breakpoints */
$mobile: 767px;
$mobilePortrait: 365px;
$mobilePortraitPlus: 414px;
$mobilePortraitSmall: 320px;
$mobilePortraitX: 375px;
$smallDesktop: 1120px;
$tabletAndMobile: 1023px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;

/* Constants */
$containerHorizontalPadding: 48px;
$containerHorizontalPaddingFormLeft : 39px;
$containerHorizontalPaddingFormRight : 60px;
$containerWidth: 1120px;
$maxItemsToAnimate: 6;

/* Colors */
$black-3: rgba(0, 0, 0, 0.3);
$black-8: rgba(0, 0, 0, 0.8);
$black: #000000;
$darkGrey: #c4c4c4;
$gray: #f6f6f6;
$orange: #ff4f00;
$red: #ff400f;
$transparent: rgba(0,0,0,0);
$white-5: rgba(0, 0, 0, 0.5);
$white: #ffffff;

/* Fonts */
$fontsPath: '../fonts';
$gtAmericaMonoTH: 'GTAmericaMono-Thin';
$gtAmericaMonoLT: 'GTAmericaMono-Light';
$gtAmericaMonoRG: 'GTAmericaMono-Regular';
$gtAmericaMonoMD: 'GTAmericaMono-Medium';
$gtAmericaRG: 'GTAmerica-Regular';
$gtAmericaLT: 'GTAmerica-Light';

/* Configs */
$transitionTimeFastLinear : .3s linear;
