<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <h3 class="h3 footer__heading">vinsol</h3>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="/#clients" data-hook="clients-footer-link" data-hook="footer-clients-link" class="footer__link">clients</a>
        </li>
        <li class="footer__list-item">
          <a href="team.html" class="footer__link">team</a>
        </li>
        <li class="footer__list-item">
          <a href="/#contact" data-hook="show-contact-form-btn" class="footer__link">contact</a>
        </li>
      </ul>
    </div>
    <div class="footer__contacts">
      <h3 class="h3 footer__heading">get in touch</h3>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="tel:+1 (415) 680-3362" class="footer__link">1 (415) 680-3362</a>
        </li>
        <li class="footer__list-item">
          <a href="mailto:info@vinsol.com" class="footer__link">info@vinsol.com</a>
        </li>
        <li class="footer__list-item f-social-links">
          <a href="https://github.com/vinsol" target="_blank" class="footer__link">github</a><span>,</span><a href="https://www.linkedin.com/company/vinsol/" target="_blank" class="footer__link">linkedin</a><span>,</span><a href="https://www.instagram.com/vinsol.sf/" target="_blank" class="footer__link">instagram</a>
        </li>
      </ul>
    </div>
    <div class="footer__locations hidden-mobile">
      <h3 class="h3 footer__heading">locations</h3>
      <ul class="footer__list">
        <li class="footer__list-item">
          san francisco, usa
          <span class="current-time relative">
            <span data-hook="usa-time"></span>
            <span class="time-flash theme-color">:</span>
          </span>
        </li>
        <li class="footer__list-item">
          new delhi, india
          <span class="current-time relative">
            <span data-hook="delhi-time"></span>
            <span class="time-flash theme-color">:</span>
          </span>
        </li>
        <li class="footer__list-item">
          toronto, canada
          <span class="current-time relative">
            <span data-hook="toronto-time"></span>
            <span class="time-flash theme-color">:</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="footer__right">
      <p class="copyright"><span class="theme-color">&copy;</span> Vinsol US, Inc 2020</p>
    </div>
  </div>
</footer>
