<div class="snow" aria-hidden="true">
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
  <include src="partials/shared/snowflake.html"></include>
</div>
