<nav class="navigation">
  <a class="navigation__toggle-btn toggle-btn" id="menu-toggle-btn">
    <span class="toggle-btn__bar"></span>
    <span class="toggle-btn__bar"></span>
    <span class="toggle-btn__bar"></span>
  </a>
  
  <ul class="navigation__list text-center" id="navigation-menu">
    <li class="navigation__list-item active">
      <a href="/" class="navigation__list-link">vinsol</a>
    </li>
    <li class="navigation__list-item">
      <a href="/#clients" class="navigation__list-link">clients</a>
    </li>
    <li class="navigation__list-item">
      <a href="team.html" class="navigation__list-link" data-link="team">team</a>
    </li>
    <li class="navigation__list-item">
      <a href="/#contact" class="navigation__list-link nav-contact-btn">contact</a>
    </li>
  </ul>
</nav>
